.header .logo, .header__left-figure, .header__right-left-circle--first, .header__right-left-circle--second, .header__right-right-circle--first {
    -webkit-animation: 5s linear 0s infinite cloud;
    animation: 5s linear 0s infinite cloud;
}

.header__right-right-circle--third {
    -webkit-animation: 10s linear 0s infinite cloudLarge;
    animation: 10s linear 0s infinite cloudLarge;
}

.header__right-left-circle--second {
    -webkit-animation: 5s linear 0s infinite cloudReverse;
    animation: 5s linear 0s infinite cloudReverse;
}

.header__dots .header__dots-item:nth-of-type(even) {
    -webkit-animation: 3s linear 0s infinite dotsEven;
    animation: 3s linear 0s infinite dotsEven;
}

.header__dots .header__dots-item:nth-of-type(odd) {
    -webkit-animation: 3s linear 1s infinite dotsOdd;
    animation: 3s linear 1s infinite dotsOdd;
}

.header__center-left-circle--second, .header__right-left-circle--third {
    -webkit-animation: 5s linear 0s infinite scale;
    animation: 5s linear 0s infinite scale;
}

.header__center-left-circle--first, .header__center-left-circle--third {
    -webkit-animation: 4.5s linear .3s infinite scaleReverse;
    animation: 4.5s linear .3s infinite scaleReverse;
}

.header__center-left-circle--third {
    -webkit-animation: 4.5s linear .7s infinite scaleReverse;
    animation: 4.5s linear .7s infinite scaleReverse;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes scaleReverse {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    75% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes scaleReverse {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    75% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes dotsEven {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes dotsEven {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes dotsOdd {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes dotsOdd {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cloud {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    75% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes cloud {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    75% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes cloudLarge {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }

    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    75% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes cloudLarge {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }

    50% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    75% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes cloudReverse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    75% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes cloudReverse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    75% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
